Source: liblim-plugin-zonalizer-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libcommon-sense-perl (>= 3), perl,
 liblim-server-perl (>= 0.20), liblim-cli-perl (>= 0.20), libanyevent-perl,
 libossp-uuid-perl | libdata-uuid-perl, libjson-perl, libjson-xs-perl,
 liburi-escape-xs-perl, libzonemaster-perl, libanyevent-couchdb-perl,
 libanyevent-http-perl, libmoosex-getopt-perl
Maintainer: Jerry Lundström <lundstrom.jerry@gmail.com>
Standards-Version: 3.9.1
Homepage: http://your.homepage.com

Package: liblim-plugin-zonalizer-common-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 liblim-common-perl (>= 0.20), libcommon-sense-perl (>= 3), perl
Description: Common perl libraries for Zonalizer Lim plugin
 Common perl libraries for Zonalizer Lim plugin.

Package: liblim-plugin-zonalizer-server-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 liblim-plugin-zonalizer-common-perl (= 0.9901-1~unstable+1),
 liblim-server-perl (>= 0.20), libanyevent-perl,
 libossp-uuid-perl | libdata-uuid-perl, libjson-perl, libjson-xs-perl,
 liburi-escape-xs-perl, libzonmaster-perl, libmoosex-getopt-perl
Description: Server perl libraries for Zonalizer Lim plugin
 Server perl libraries for Zonalizer Lim plugin.

Package: liblim-plugin-zonalizer-client-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 liblim-plugin-zonalizer-common-perl (= 0.9901-1~unstable+1)
Description: Client perl libraries for Zonalizer Lim plugin
 Client perl libraries for communicating with the Zonalizer Lim plugin.

Package: liblim-plugin-zonalizer-cli-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 liblim-cli-perl (>= 0.20),
 liblim-plugin-zonalizer-client-perl (= 0.9901-1~unstable+1)
Description: CLI perl libraries for Zonalizer Lim plugin
 CLI perl libraries for communicating with the Zonalizer Lim plugin.

Package: liblim-plugin-zonalizer-db-couchdb-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 liblim-plugin-zonalizer-server-perl (= 0.9901-1~unstable+1),
 libanyevent-couchdb-perl, libanyevent-http-perl, liburi-escape-xs-perl
Description: CouchDB support for Zonalizer Lim plugin
 CouchDB support for Zonalizer Lim plugin.
